<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>部落格首頁</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/tiptapstyle.css">
</head>
<body>


  <header class="page-header">
    
    <nav >
      <div>
        <h2 style="margin: 0;">周博偉的網路日誌</h2>
        <ul >
          <li style="list-style: none; float: left;">
            <a href="/" style="text-decoration: none;"> home |</a>
          </li>
          <li style="list-style: none;">
            <a href="/post/newposts" style="text-decoration: none;">&nbsp;posts add</a>
          </li>
        </ul>
      </div>
      <hr>
    </nav>
    
  </header>

  <section>
    <h2>文章列表</h2>
    <div>
      <ul id="posts-container" class="cards">
      <!-- JS 會動態生成文章卡片 -->
      </ul>
    </div>
    
  </section>

  <script>
    // 文章
fetch('/post/api/posts')
  .then(res => res.json())
  .then(data => {
    const container = document.getElementById('posts-container');
    const posts = data.posts;
    posts.forEach(post => {
      const li = document.createElement('li');
      li.innerHTML = `
        <div class="excerpt"><a href="/post/posts/${post._id}">${post.content}</a></div>
        <small>${new Date(post.createdAt).toLocaleString()}</small>
        <div><a href="/post/postedit/${post._id}">Edit</a></div>
        <div><a href="/post/postdelete/${post._id}">Delete</a></div>
      `;
      container.appendChild(li);
    });
  });
  </script>
</body>
</html>
