<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="page-header">
        <h1 class="page-title">周博偉的網路日誌</h1>
        <hr>
    </header>
    <h1><%= project.name %></h1>
    <p><%= project.description %></p>
    <small>http://localhost:3000/<%= project._id %></small>
    <br>
    <a href="/">回首頁</a>
</body>
</html>