body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.page-header {
  /* width: 100%;
  background-color: #ccb;
  text-align: left; */
  background-color: #ccb;
  overflow: hidden
}

.page-header a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.page-header a:hover {
  background-color: #ddd;
}